<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebookmarket.admin.mapper.CreationMapper">
	<!-- 사용자 정의 resultMap 요소 정의 -->
	<!-- <resultMap type="Seller" id="sellerMap"> <result property="s_num" column="s_num" 
		/> <result property="s_id" column="s_id" /> <result property="s_pw" column="s_pw" 
		/> <result property="s_nickname" column="s_nickname" /> <result property="s_profile_imgurl" 
		column="s_profile_imgurl" /> <result property="s_name" column="s_name" /> 
		<result property="s_resident_num" column="s_resident_num" /> <result property="s_email" 
		column="s_email" /> <result property="s_phone" column="s_phone" /> <result 
		property="s_join_date" column="s_join_date" /> <result property="s_seller_agree" 
		column="s_seller_agree" /> <result property="s_content_agree" column="s_content_agree" 
		/> <result property="s_privaty_agree" column="s_privaty_agree" /> <result 
		property="s_address" column="s_address" /> <result property="s_bank_name" 
		column="s_bank_name" /> <result property="s_ah_name" column="s_ah_name" /> 
		<result property="s_certificate_detail" column="s_certificate_detail" /> 
		<result property="s_certificate_datarul" column="s_certificate_datarul" /> 
		<result property="s_career_detail" column="s_career_detail" /> <result property="s_career_dataurl" 
		column="s_career_dataurl" /> <result property="s_grade" column="s_grade" 
		/> <collection property="creationList" resultMap="creationMap"> </collection> 
		</resultMap> <resultMap type="Creation" id="creationMap"> <result property="e_num" 
		column="e_num" /> <result property="e_title" column="e_title" /> <result 
		property="e_rating" column="e_rating" /> <result property="e_reg_date" column="e_reg_date" 
		/> <result property="e_post_introduce" column="e_post_introduce" /> <result 
		property="e_coverimage_url" column="e_coverimage_url" /> <result property="e_profile" 
		column="e_profile" /> <result property="e_age_limit" column="e_age_limit" 
		/> <result property="e_refund_cnt" column="e_refund_cnt" /> <result property="e_category" 
		column="e_category" /> <result property="e_writer" column="e_writer" /> <result 
		property="e_price" column="e_price" /> <result property="e_attachment_url" 
		column="e_attachment_url" /> <result property="e_attachment_type" column="e_attachment_type" 
		/> <result property="e_thumbnail_url" column="e_thumbnail_url" /> <result 
		property="e_talbe_content" column="e_talbe_content" /> <result property="e_view_cnt" 
		column="e_view_cnt" /> <result property="e_sell_cnt" column="e_sell_cnt" 
		/> <result property="e_download_cnt" column="e_download_cnt" /> <result property="s_num" 
		column="s_num" /> <result property="e_reg_approval" column="e_reg_approval" 
		/> <result property="e_del_approval" column="e_del_approval" /> </resultMap> -->

	<!-- 등록된 창작물 목록 조회 -->
	<select id="reglist"
		resultType="com.ebookmarket.admin.domain.CreationList">
	<![CDATA[
		SELECT se.s_num,
			s_id,
			s_nickname,
			s_phone,
			e_num,
			e_category,
			e_title,
			e_thumbnail_url,
			e_reg_date
		FROM seller_tbl se LEFT OUTER JOIN ebook_tbl eb ON se.s_num = eb.s_num
		WHERE e_status = 'regapproval'
		ORDER BY e_reg_date DESC
	]]>
	</select>

	<!-- 삭제된 창작물 목록 조회 -->
	<select id="dellist"
		resultType="com.ebookmarket.admin.domain.CreationList">
	<![CDATA[
		SELECT se.s_num,
			s_id,
			s_nickname,
			s_phone,
			e_num,
			e_category,
			e_title,
			e_thumbnail_url,
			e_del_date
		FROM seller_tbl se LEFT OUTER JOIN ebook_tbl eb ON se.s_num = eb.s_num
		WHERE e_status = 'delapproval'
		ORDER BY e_reg_date DESC
	]]>
	</select>

	<!-- 창작물 등록대기 목록 조회 -->
	<select id="regapplist"
		resultType="com.ebookmarket.admin.domain.CreationList">
	<![CDATA[
		SELECT se.s_num,
			s_id,
			s_nickname,
			s_phone,
			e_num,
			e_category,
			e_title,
			e_thumbnail_url,
			e_reg_date
		FROM seller_tbl se LEFT OUTER JOIN ebook_tbl eb ON se.s_num = eb.s_num
		WHERE e_status = 'regapply'
		ORDER BY e_reg_date DESC
	]]>
	</select>

	<!-- 창작물 등록정보 -->
	<select id="reginfo"
		resultType="com.ebookmarket.admin.domain.CreationInfo">
	<![CDATA[
		SELECT e_num, 
			s_name,
			e_title,
			e_category,
			e_price,
			e_reg_date,
			e_attachment_url
		FROM seller_tbl se LEFT OUTER JOIN ebook_tbl eb ON se.s_num = eb.s_num
		WHERE e_num = #{e_num}
	]]>
	</select>

	<!-- 창작물 등록승인 -->
	<update id="regapproval">
	<![CDATA[
		UPDATE ebook_tbl
		SET e_status = 'regapproval'
		WHERE e_num = #{e_num} 
	]]>
	</update>

	<!-- 창작물 등록거절 -->
	<update id="regrefuse">
	<![CDATA[
		UPDATE ebook_tbl
		SET e_status = 'regrefuse'
		WHERE e_num = #{e_num} 
	]]>
	</update>

	<!-- 창작물 삭제대기 목록 조회 -->
	<select id="delapplist"
		resultType="com.ebookmarket.admin.domain.CreationList">
	<![CDATA[
		SELECT se.s_num,
			s_id,
			s_nickname,
			s_phone,
			e_num,
			e_category,
			e_title,
			e_thumbnail_url,
			e_reg_date
		FROM seller_tbl se LEFT OUTER JOIN ebook_tbl eb ON se.s_num = eb.s_num
		WHERE e_status = 'delapply'
		ORDER BY e_reg_date DESC
	]]>
	</select>

	<!-- 창작물 삭제정보 -->
	<select id="delinfo"
		resultType="com.ebookmarket.admin.domain.CreationInfo">
	<![CDATA[
		SELECT e_num, 
			s_name,
			e_title,
			e_category,
			e_price,
			e_reg_date,
			e_attachment_url
		FROM seller_tbl se LEFT OUTER JOIN ebook_tbl eb ON se.s_num = eb.s_num
		WHERE e_num = #{e_num}
	]]>
	</select>

	<!-- 창작물 삭제승인 -->
	<update id="delapproval">
	<![CDATA[
		UPDATE ebook_tbl
		SET e_status = 'delapproval'
		WHERE e_num = #{e_num} 
	]]>
	</update>

	<!-- 원본 이미지 표시 -->
	<select id="getPreview" resultType="String">
		SELECT e_thumbnail_url
		FROM
		ebook_tbl
		WHERE e_num = #{e_num}
	</select>

</mapper>